Django>=5.0,<5.1
python-decouple
psycopg[binary]
dj-database-url
requests
whitenoise
django-allauth[socialaccount]
django-allauth-ui
django-widget-tweaks
stripe
gunicorn==23.0.0
python-decouple==3.8

pgunicorn
