Django==5.1.1
gunicorn==23.0.0
python-decouple==3.8
psycopg[binary]==3.2.1
dj-database-url==2.2.0
requests==2.32.3
whitenoise==6.7.0
django-allauth==64.2.1
django-allauth-ui==1.4.1
django-widget-tweaks==1.5.0
stripe==10.11.0
